<h2>
  List of known devices
</h2>
<div class="spinner-border" role="status" *ngIf="loading">
  <span class="sr-only">Loading...</span>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">MAC address</th>
      <th scope="col">Hostname</th>
      <th scope="col">IP address</th>
      <th scope="col">Registration Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devices" >
      <td><a routerLink="/device/{{device.id}}">{{device.id}}</a></td>
      <td>{{device.name}}</td>
      <td>{{device.ipv4Address}}</td>
      <td>{{device.registrationDate}}</td>
    </tr>
  </tbody>
</table>
